<div id="Commands" class="hidden">
    <p class="font-medium text-lg text-center color-gray-500 mt-4">Your Commands</p>
    <hr class="color-gray-900 mt-4">
<div class="flex justify-between p-4">
  <p class="text-md font-medium hover:font-bold"><a href="">Command N°1</a> </p>
  <p class="text-md text-gray-400">18/03/2003</p>
  <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
  <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
</div>
<hr class="color-gray-900">

<div class="flex justify-between p-4">
  <p class="text-md font-medium hover:font-bold"><a href="">Command N°2</a> </p>
  <p class="text-md text-gray-400">18/03/2003</p>
  <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
  <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
</div>
<hr class="color-gray-900">

<div class="flex justify-between p-4">
  <p class="text-md font-medium hover:font-bold"><a href="">Command N°3</a> </p>
  <p class="text-md text-gray-400">18/03/2003</p>
  <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
  <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
</div>
<hr class="color-gray-900">

<div class="flex justify-between p-4">
  <p class="text-md font-medium hover:font-bold"><a href="">Command N°4</a> </p>
  <p class="text-md text-gray-400">18/03/2003</p>
  <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
  <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
</div>
<hr class="color-gray-900">

<div class="flex justify-between p-4">
  <p class="text-md font-medium hover:font-bold"><a href="">Command N°5</a> </p>
  <p class="text-md text-gray-400">18/03/2003</p>
  <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
  <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
</div>
<hr class="color-gray-900">

<div class="flex justify-between p-4">
  <p class="text-md font-medium hover:font-bold"><a href="">Command N°6</a> </p>
  <p class="text-md text-gray-400">18/03/2003</p>
  <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
  <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
</div>
<hr class="color-gray-900">

<div class="flex justify-between p-4">
  <p class="text-md font-medium hover:font-bold"><a href="">Command N°7</a> </p>
  <p class="text-md text-gray-400">18/03/2003</p>
  <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
  <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
</div>
<hr class="color-gray-900">
</div>