<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/isset/header.css">
    <link rel="stylesheet" href="../public/isset/style.css">

    <title>electro Maroc</title>
</head>
<body class="relative">
    <header>
        <nav class="flex h-16 text-gray-200 justify-between top-0 bg-sky-900 fixed w-full font-medium">
            <div class="logo w-40 my-auto ml-4">
                <img src="../public/img/logo/Logo.png" alt="Logo">
            </div>
            <div class="flex mx-10 justify-between ">
                <div class="my-auto hover:bg-gray-200 hover:text-sky-900 text-sm  border rounded-sm border-solid border-gray-200  transition ease-linear max-lg:w-fit flex  px-5 max-lg:px-2 py-1">
                    <a href="../view/home.html" class="flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                      </svg>
                      <span class="max-sm:hidden">Home</span> 
                </a></div>
                <div class="my-auto hover:bg-gray-200 hover:text-sky-900 text-sm  border rounded-sm border-solid border-gray-200  transition ease-linear max-lg:w-fit flex  px-5 max-lg:px-2 py-1">
                    <a href="../view/Products.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                          </svg>
                          <span class="max-sm:hidden">Products</span>
                    </a>
                    </div>
                    <div class="my-auto hover:bg-gray-200 hover:text-sky-900 text-sm  border rounded-sm border-solid border-gray-200  transition ease-linear max-lg:w-fit flex  px-5 max-lg:px-2 py-1">
                        <a href="../view/Carte.html" class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                              </svg>                             
                            <span class="max-sm:hidden">Cart</span> 
                        </a>
                        </div>
                <a href="../view/Login.html" class="my-auto hover:bg-gray-200 hover:text-sky-900 text-sm  border rounded-sm border-solid border-gray-200  transition ease-linear max-lg:w-fit flex  px-5 max-lg:px-2 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                      </svg>
                      
                    <span class="max-lg:hidden">Login</span> 
                    </a> 
                <a href="../view/inscription.html" class="my-auto w-fit hover:bg-amber-300 text-amber-300 hover:text-sky-900 text-sm border rounded-sm max-lg:px-2 border-solid border-amber-300 transition ease-linear  px-5 py-1 flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                      </svg>
                <span class="max-lg:hidden">Inscription</span>   
                
                    </a>
            </div>
           
        </nav> 
        <div class="w-full top-14 bg-gray-800 flex fixed justify-center">
                <a href="" class="border-2 cursor-pointer border-solid hover:bg-gray-600 border-gray-600 w-fit text-gray-200 flex my-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 my-auto text-white mx-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                  </svg>
                  <span class="max-sm:hidden">Commands</span>
                   
                </a>
                <a href="" class="border-2 cursor-pointer border-solid hover:bg-gray-600 border-gray-600 w-fit text-gray-200 flex my-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 w-4 h-4 my-auto text-white mx-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                      </svg>
                   <span class="max-sm:hidden">Clients</span>
                </a>
                <a href="" class="border-2 cursor-pointer border-solid hover:bg-gray-600 border-gray-600 w-fit text-gray-200 flex my-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 w-4 h-4 my-auto text-white mx-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                      </svg>
                      <span class="max-sm:hidden">Products</span>                      
                   
                </a>
                <a href="" class="border-2 cursor-pointer hover:bg-gray-600 border-solid border-gray-600 w-fit text-gray-200 flex my-auto p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 w-4 h-4 my-auto text-white mx-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                      </svg>
                      <span class="max-sm:hidden">Categories</span>                      
                   
                </a>
        </div>

    </header>

    <main class="m-14 mt-40">
        <div class="text-center mt-20">
            <img
              src="../public/img/Profile/321059533_1093486834655909_8466472925953741460_n.jpg"
              class="rounded-full w-32 mb-4 mx-auto"
              alt="Avatar"
            />
            <h5 class="text-xl font-medium leading-tight mb-2">Mohcine Khribech</h5>
            <p class="text-gray-500 flex justify-center">Welcome <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
              </svg>
              </p>
              <hr class="color-gray-900 mt-4">
            </div>

        <div id="Commands" class="hidden">
              <p class="font-medium text-lg text-center color-gray-500 mt-4">Your Commands</p>
              <hr class="color-gray-900 mt-4">
        <div class="flex justify-between p-4">
            <p class="text-md font-medium hover:font-bold"><a href="">Command N°1</a> </p>
            <p class="text-md text-gray-400">18/03/2003</p>
            <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
            <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
        </div>
        <hr class="color-gray-900">

        <div class="flex justify-between p-4">
            <p class="text-md font-medium hover:font-bold"><a href="">Command N°2</a> </p>
            <p class="text-md text-gray-400">18/03/2003</p>
            <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
            <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
        </div>
        <hr class="color-gray-900">

        <div class="flex justify-between p-4">
            <p class="text-md font-medium hover:font-bold"><a href="">Command N°3</a> </p>
            <p class="text-md text-gray-400">18/03/2003</p>
            <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
            <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
        </div>
        <hr class="color-gray-900">

        <div class="flex justify-between p-4">
            <p class="text-md font-medium hover:font-bold"><a href="">Command N°4</a> </p>
            <p class="text-md text-gray-400">18/03/2003</p>
            <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
            <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
        </div>
        <hr class="color-gray-900">

        <div class="flex justify-between p-4">
            <p class="text-md font-medium hover:font-bold"><a href="">Command N°5</a> </p>
            <p class="text-md text-gray-400">18/03/2003</p>
            <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
            <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
        </div>
        <hr class="color-gray-900">

        <div class="flex justify-between p-4">
            <p class="text-md font-medium hover:font-bold"><a href="">Command N°6</a> </p>
            <p class="text-md text-gray-400">18/03/2003</p>
            <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
            <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
        </div>
        <hr class="color-gray-900">

        <div class="flex justify-between p-4">
            <p class="text-md font-medium hover:font-bold"><a href="">Command N°7</a> </p>
            <p class="text-md text-gray-400">18/03/2003</p>
            <p>Total Price : <span class="text-md font-semibold text-lime-500">999 DH</span></p>
            <p class="text-md font-semibold text-red-500 hover:font-bold"><a href="">Cancel</a></p>
        </div>
        <hr class="color-gray-900">
        </div>
        
        <div id="Clients" class="hidden">
            <p class="font-medium text-lg text-center color-gray-500 mt-4">Your Clients</p>
              <hr class="color-gray-900 mt-4">
              <div class="flex justify-between p-4">
                <p class="text-md font-medium my-auto">#1</p>
                <div class="flex space-x-4">
                    <img
              src="../public/img/Profile/321059533_1093486834655909_8466472925953741460_n.jpg"
              class="rounded-full w-10"
              alt="Avatar"
            />                
            <p class="text-md font-medium hover:font-bold my-auto">Client Name</p>
                </div>
                

                <p class="text-md text-gray-400 my-auto">mohcinekhribche123@gmail.com</p>
            </div>
            <hr class="color-gray-900">
        </div>

        <div id="Products"  class="hidden">
            <p class="font-medium text-lg text-center color-gray-500 mt-4">Your Products</p>
              <hr class="color-gray-900 my-4">
              <center>
                <button class="flex mt-4 mb-6 hover:bg-lime-200 bg-lime-500 p-2 rounded-lg hover:text-lime-500 text-white font-bold text-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
                </svg>
                 Add Product
                </button>
              </center>
              
            <div class="product h-80 w-60 border-2 border-solid mx-auto border-amber-100 bg-gray-50">
                <img src="../public/img/pexels-jean-balzan-682082.jpg" alt="" class="w-5/6 rounded-sm h-3/6 mx-6 my-4">
                <h3 class="text-center text-l font-semibold">Product Name</h3>
                <p class="text-sm font-light p-4"><span class="font-medium">Category : </span> test</p>
                <div class="flex justify-between mr-4 items-center">
                       <p class="font-bold px-4 text-lime-500">999 DH</p>
                       <a class="Masquer p-2 w-fit text-white rounded-xl hover:text-red-500 hover:bg-red-200 bg-red-500">
                        <svg class="w-6 h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                          </svg>
                          
                        </a>
                       <a class="shop p-2 w-fit text-white rounded-xl hover:text-lime-500 hover:bg-lime-200 bg-lime-500">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                          </svg> 
                        </a>
                </div>
                
           </div>
        </div>

        <div id="Categories" class="hidden">
            <p class="font-medium text-lg text-center color-gray-500 mt-4">Your Categories</p>
              <hr class="color-gray-900 my-4">
              <center>
                <button class="flex transition ease-linear mt-4 mb-6 hover:bg-lime-200 bg-lime-500 p-2 rounded-lg hover:text-lime-500 text-white font-bold text-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
                </svg>
                 Add Category
                </button>
              </center>
              <div class="categories">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
                <div class="flex space-x-4 p-2">
                    <a class="Masquer p-2 w-fit text-white rounded-xl hover:text-red-500 hover:bg-red-200 bg-red-500">
                     <svg class="w-6 h-6 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                         <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                       </svg>
                       
                     </a>
                    <a class="shop p-2 w-fit text-white rounded-xl hover:text-lime-500 hover:bg-lime-200 bg-lime-500">
                     <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                         <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                       </svg> 
                     </a>
             </div>
            </div>
              </div>

              
        </div>

        
        </div>
    </main>

    <footer class="p-4 bg-gray-100 rounded-lg shadow md:px-6 md:py-8 ">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="#" class="flex items-center mb-4 sm:mb-0">
                <img src="../public/img/logo/Logo.png" class="mr-3 h-8" alt="Flowbite Logo" />
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
        </span>
    </footer>
</body>
</html>