<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/isset/header.css">
    <link rel="stylesheet" href="../public/isset/style.css">

    <title>electro Maroc</title>
</head>
<body>
    <header>
        
        <div class="slider w-full h-screen mt-18 flex max-lg:h-fit max-lg:flex-col bg-gradient-to-r from-sky-900 to-gray-900 py-20 ">
            <img src="../public/img/undraw_freelancer_re_irh4.svg" class="max-lg:mx-auto w-1/3 ml-20 my-auto"  alt="">
            <div class="my-auto">
                <h2 class="text-white mt-20 text-center text-4xl">Electro Maroc</h2>
                <div class="description text-lg text-center text-white font-medium m-14">
                    E-commerce Website. A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location. Through an e-commerce website, a business can process orders, accept payments, manage shipping and logistics, and provide customer service 
                </div>
            </div>
        </div>
        <nav class="flex h-16 text-gray-200 justify-between top-0 bg-sky-900 fixed w-full font-medium">
            <div class="logo w-40 my-auto ml-4">
                <img src="../public/img/logo/Logo.png" alt="Logo">
            </div>
            <div class="flex mx-10 justify-between ">
                <div class="my-auto hover:bg-gray-200 hover:text-sky-900 text-sm  border rounded-sm border-solid border-gray-200  transition ease-linear max-lg:w-fit flex  px-5 max-lg:px-2 py-1">
                    <a href="../view/home.html" class="flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                      </svg>
                      <span class="max-sm:hidden">Home</span> 
                </a></div>
                <div class="my-auto hover:bg-gray-200 hover:text-sky-900 text-sm  border rounded-sm border-solid border-gray-200  transition ease-linear max-lg:w-fit flex  px-5 max-lg:px-2 py-1">
                    <a href="../view/Products.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
                          </svg>
                          <span class="max-sm:hidden">Products</span>
                    </a>
                    </div>
                    <div class="my-auto hover:bg-gray-200 hover:text-sky-900 text-sm  border rounded-sm border-solid border-gray-200  transition ease-linear max-lg:w-fit flex  px-5 max-lg:px-2 py-1">
                        <a href="../view/Carte.html" class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                              </svg>                             
                            <span class="max-sm:hidden">Cart</span> 
                        </a>
                        </div>
                <a href="../view/Login.html" class="my-auto hover:bg-gray-200 hover:text-sky-900 text-sm  border rounded-sm border-solid border-gray-200  transition ease-linear max-lg:w-fit flex  px-5 max-lg:px-2 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                      </svg>
                      
                    <span class="max-lg:hidden">Login</span> 
                    </a> 
                <a href="../view/inscription.html" class="my-auto w-fit hover:bg-amber-300 text-amber-300 hover:text-sky-900 text-sm border rounded-sm max-lg:px-2 border-solid border-amber-300 transition ease-linear  px-5 py-1 flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 max-lg:pr-0 pr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                      </svg>
                <span class="max-lg:hidden">Inscription</span>   
                
                    </a>
            </div>
           
        </nav>
            
        
    </header>
    <main class="main m-14 ">
        
        <h2>Our categories</h2>
        <div class="categories">
            <a href="#">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
            </div>
            </a>

            <a href="#">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
            </div>
            </a>

            <a href="#">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
            </div>
            </a>

            <a href="#">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
            </div>
            </a>
        </div>

        <div class="all mt-20">
            <h2> Produit Populaire</h2>
                <div class="slider max-lg:h-screen  h-80 relative border-2 border-solid border-amber-300 overflow-hidden">
                    <div class="slide absolute transition duration-300 ease-linear w-full h-full mt-18 flex max-lg:flex-col bg-gradient-to-r from-sky-900 to-gray-900 ">
                    <img src="../public/img/pexels-lê-minh-3062545.jpg" class=" w-1/3 max-lg:w-96 max-lg:mx-auto"  alt="">
                    <div>
                        <h3 class="text-white mt-8 text-center text-4xl">Product Name</h3>
                        <div class="description text-lg text-center text-white font-medium mx-14 my-8">
                            E-commerce Website. A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location.  
                        </div>
                        <a href="" class="flex font-bold border-solid border-2 w-fit
                        mx-auto border-white p-4 my-4 hover:text-sky-900 hover:bg-white hover:bg-white text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                        Add To Cart</a>
                    </div>
                    </div>
                     
                    <div class="slide absolute transition duration-300 ease-linear w-full h-full mt-18 flex max-lg:flex-col bg-gradient-to-r from-sky-900 to-gray-900 ">
                        <img src="../public/img/pexels-lê-minh-3062545.jpg" class=" w-1/3 max-lg:w-96 max-lg:mx-auto"  alt="">
                        <div>
                            <h3 class="text-white mt-8 text-center text-4xl">Product Name</h3>
                            <div class="description text-lg text-center text-white font-medium mx-14 my-8">
                                E-commerce Website. A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location.  
                            </div>
                            <a href="" class="flex font-bold border-solid border-2 w-fit
                            mx-auto border-white p-4 my-4 hover:text-sky-900 hover:bg-white hover:bg-white text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                            Add To Cart</a>
                        </div>
                        </div>
                    
                </div>
                <div class="space-x-20 justify-center flex">
                    <button class="prevBtn color-black">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z" />
                          </svg>
                          
                      </button>
                      <button class="nextBtn color-black ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z" />
                      </svg>
                      </button>
                    </div>
                    
                
                    
                
        </div>
        
        
        </div>
    </main>

    
<footer class="p-4 bg-sky-900 shadow md:px-6 md:py-8 ">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
            <img src="../public/img/logo/Logo.png" class="mr-3 h-8" alt="Flowbite Logo" />
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-100 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="#" class="hover:underline">Electro Maroc™</a>. All Rights Reserved.
    </span>
</footer>

</body>
</html>
<script src="../public/isset/app.js"></script>