<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/isset/header.css">
    <link rel="stylesheet" href="../public/isset/style.css">

    <title>electro Maroc</title>
</head>
<body>
    <header>
        
        <div class="slider w-full h-full mt-18 flex bg-gradient-to-r from-sky-900 to-gray-900 py-20 ">
            <img src="../public/img/undraw_freelancer_re_irh4.svg" class="w-1/3 ml-20"  alt="">
            <div>
                <h2 class="text-white mt-20 text-center text-4xl">Electro Maroc</h2>
                <div class="description text-lg text-center text-white font-medium m-14">
                    E-commerce Website. A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location. Through an e-commerce website, a business can process orders, accept payments, manage shipping and logistics, and provide customer service 
                </div>
            </div>
        </div>
        <nav class="flex h-16 text-gray-200 top-0 z-10 bg-sky-900 fixed w-full font-medium">
            <div class="logo">
                <img src="../public/img/logo/Logo.png" alt="">
            </div>
            <ul class="flex my-auto justify-center space-x-8 w-3/4 text-lg">
                <li class="n  px-5 py-1"><a href="#">Home</a></li>
                <li class="n  px-5 py-1"><a href="#">Products</a></li>
                <li class="n  px-5 py-1"><a href="#">the bill</a></li>
                <li class="n  px-5 py-1"><a href="#">Command</a></li>
            </ul>
            <div class="my-auto hover:bg-gray-200 hover:text-sky-900 text-lg mx-10 border-2 rounded-xl border-solid border-gray-200 ease-linear  px-5 py-1">
                Login
            </div>
        </nav>
            
        
    </header>
    <main class="main m-14 ">
        
        <h2>Our categories</h2>
        <div class="categories">
            <a href="#">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
            </div>
            </a>

            <a href="#">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
            </div>
            </a>

            <a href="#">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
            </div>
            </a>

            <a href="#">
                <div class="category">
                <img src="../public/img/pexels-florenz-mendoza-5489393.jpg" alt="">
                <p class="Category-Name">Category Name</p>
                <p class="Category-description text-sm text-center font-light p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum qui, tenetur ducimus, id expedita numquam quia fuga illo omnis laborum animi velit labore quisquam necessitatibus? Sunt minima quod reiciendis cumque.</p>
            </div>
            </a>
        </div>

        <div class="all mt-20">
            <h2> Produit Populaire</h2>
                <div class="slider   h-80 relative border-2 border-solid border-amber-300 overflow-hidden">
                    <div class="slide absolute transition duration-300 ease-linear w-full h-full mt-18 flex bg-gradient-to-r from-sky-900 to-gray-900 ">
                    <img src="../public/img/pexels-lê-minh-3062545.jpg" class="w-1/3"  alt="">
                    <div>
                        <h3 class="text-white mt-8 text-center text-4xl">Product Name</h3>
                        <div class="description text-lg text-center text-white font-medium mx-14 my-8">
                            E-commerce Website. A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location.  
                        </div>
                        <a href="" class="flex font-bold border-solid border-2 w-fit
                        mx-auto border-white p-4 my-4 hover:text-sky-900 hover:bg-white hover:bg-white text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                        Add To Cart</a>
                    </div>
                    </div>


                    <div class="slide absolute transition duration-300 ease-linear w-full h-full mt-18 flex bg-gradient-to-r from-sky-900 to-gray-900 ">
                        <img src="../public/img/pexels-lê-minh-3062545.jpg" class="w-1/3"  alt="">
                        <div>
                            <h3 class="text-white mt-8 text-center text-4xl">Product Name</h3>
                            <div class="description text-lg text-center text-white font-medium mx-14 my-8">
                                E-commerce Website. A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location.  
                            </div>
                            <a href="" class="flex font-bold border-solid border-2 w-fit
                            mx-auto border-white p-4 my-4 hover:text-sky-900 hover:bg-white hover:bg-white text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                            Add To Cart</a>
                        </div>
                        </div>

                    <div class="slide absolute transition duration-300 ease-linear  w-full h-full mt-18 flex bg-gradient-to-r from-sky-900 to-gray-900 ">
                        <img src="../public/img/pexels-gabriel-freytez-341523.jpg" class="w-1/3"  alt="">
                        <div>
                            <h3 class="text-white mt-8 text-center text-4xl">Product Name</h3>
                            <div class="description text-lg text-center text-white font-medium mx-14 my-8">
                                E-commerce Website. A website that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location.  
                            </div>
                            <a href="" class="flex font-bold border-solid border-2 w-fit
                            mx-auto border-white p-4 my-4 hover:text-sky-900 hover:bg-white hover:bg-white text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                            Add To Cart</a>
                        </div>
                        </div>
                    
                </div>
                <div class="space-x-20 justify-center flex">
                    <button class="prevBtn color-black">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z" />
                          </svg>
                          
                      </button>
                      <button class="nextBtn color-black ">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z" />
                      </svg>
                      </button>
                    </div>
                    
                
                    
                
        </div>
        
        
        </div>
    </main>

    
<footer class="p-4 bg-sky-900 shadow md:px-6 md:py-8 ">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
            <img src="../public/img/logo/Logo.png" class="mr-3 h-8" alt="Flowbite Logo" />
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-100 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="#" class="hover:underline">Electro Maroc™</a>. All Rights Reserved.
    </span>
</footer>

</body>
</html>
<script src="../public/isset/app.js"></script>